@mixin heading1 {
  font-size: 13px;
  font-size: 400;
  margin: 0 28px;
  padding: 14px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@mixin font15 {
  font-size: 15px;
}

@mixin font22 {
  font-size: 22px;
}

@mixin font32 {
  font-size: 32px;
}

@mixin font12{
  font-size: 12px;
}