@use "../../scss/main.scss" as *;
@use "../../scss/heading/heading.scss" as *;
@use "../../scss/theme/theme.scss" as *;
@use "../../scss/typography/typography.scss" as *;

header {
  background-color: var(--theme-background-blue);
  color: white;

  .firstHeader {
    height: auto;
    display: flex;
    align-items: center;
    padding: 13px 30px;

    .lang {
      .langOp {
        color: white;
        letter-spacing: 2px;
        font-weight: 400;
      }
      .op {
        color: white;
        font-weight: 400;
      }
    }

    .logo-container {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        width: 142px;

        img {
          width: 100%;
        }
      }
    }
  }
}

.border {
  border: 1px solid #3379c5;
  margin: 0 30px 0 30px;
}

.secondHeader {
  .navbar {
    display: flex;
    justify-content: center;
    align-content: center;

    span {
      @include heading1;
    }
  }
}
