@use "../../../scss/typography/typography.scss" as *;

.entertainment {
  padding: 60px 0;

  .entertainment-container {
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;

    .wlw-grid {
      // max-width: 1200px;
      // margin: 0 auto;
      display: grid;
      grid-template-columns: auto 360px;
      justify-content: space-between;
      // gap: 20px;
      .wlw-card {
        text-align: center;
        padding: 30px;
        border-top: 1px solid #0057b7;
        border-bottom: 1px solid #0057b7;
        display: flex;
        align-items: center;
        .wlw-card-body {
          max-width: 300px;

          h2 {
            @include font32;
            line-height: 38px;
            font-weight: 400;
            color: var(--heading-blue);
          }

          span {
            border-bottom: 1px solid #0057b7;
            margin: 1.25rem auto;
            display: block;
            width: 120px;
          }

          button {
             @include font12;
            margin-top: 20px;
            min-width: 190px;
            padding: 10px 0;
            max-width: 36%;
            background-color: var(--button-background);
            color: white;
            border: var(--button-background);
          }
        }
      }

      .wlw-card-img {
        max-width: 791px;
        img {
          width: 100%;
        }
      }
    }
  }
}
